h1{
    color: black;
}

  .gallery{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
  .Kindergarten{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_1{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_2{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_3{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_4{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_5{
    n{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_6{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_7{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .grade_8{
    width: 339px; 
    border: 2px solid black; 
    padding: 10px;
    margin: 10px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;  
  }