h1{
    color: black;
}
.grade_1{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.grade_2{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.grade_3{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.grade_4{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.grade_5{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}
.grade_6{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
    background-color: lavender;
}