.questions{
    color: red;
    font-size: 30px;
}
.answers{
    color: green;
    font-size: 20px;
}
.K{
    font-style: italic;
}
.First{

}
.Second{

}
.Third{

}
.Fourth{

}
.Fifth{

}
.Sixth{

}
.Seventh{

}
.Eighth{

}
