.questions{
    color: burlywood;
    font-size: 30px;
    border: 5px;
    background-color: beige;
}
.answers{
    display: flex;
    color: white;
    font-size: 20px;
    list-style-type: upper-alpha;
    background-color: black;
    border-radius: 3px;
    justify-content: space-between;
    

}
.K{
    font-style: italic;
}
.First{
    font-style: italic;
}
.Second{
    font-style: italic;
}
.Third{
    font-style: italic;
}
.Fourth{
    font-style: italic;
}
.Fifth{
    font-style: italic;
}
.Sixth{
    font-style: italic;
}
.Seventh{
    font-style: italic;
}
.Eighth{
    font-style: italic;
}
