.questions{
    color: red;
    font-size: 30px;
}
.answers{
    color: green;
    font-size: 20px;
}
.K{
    font-style: italic;
}
.First{
    font-style: italic;
}
.Second{
    font-style: italic;
}
.Third{
    font-style: italic;
}
.Fourth{
    font-style: italic;
}
.Fifth{
    font-style: italic;
}
.Sixth{
    font-style: italic;
}
.Seventh{
    font-style: italic;
}
.Eighth{
    font-style: italic;
}
