h1{
    text-size-adjust: 10px;
    color:#b78c38;
    text-shadow: grey;
}

h2{
    color:#c0d9d9;
}
.hat {
    color:#b0babf;
   
}


body{
  background-color: #253759;  
}
.{
    width: 500px; 
    height: auto ;
    border: 2px double #293b40; 
    padding: 10px;
    margin: 10px;
}
h{

}